!!!
%html{lang: "en"}
	%head
		%meta{charset: "UTF-8"}/
		%title= current_page.data.title
		%meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
		%meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}/
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
		= stylesheet_link_tag 'style'
	%body
		= yield
		= javascript_include_tag 'script'
