!!!
%html.scrollerful__snap-page(lang="en")
	%head
		%meta(charset="UTF-8")/
		%title= data.site.title
		%meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
		%meta(content="IE=edge" http-equiv="X-UA-Compatible")/
		%meta(content="viewport-fit=cover, width=device-width, initial-scale=1.0" name="viewport")/
		%meta{content: data.site.description, name: "description"}/
		%meta{content: data.site.title, name: "og:title"}/
		%meta{content: data.site.description, name: "og:description"}/
		%meta(content="https://remino.github.io/scrollerful/share-fb.png" name="og:image")/
		%meta{content: data.site.url, name: "og:url"}/
		%meta(content="website" name="og:type")/
		%meta(content="summary_large_image" name="twitter:card")/
		%meta{content: data.site.title, name: "twitter:title"}/
		%meta{content: data.site.description, name: "twitter:description"}/
		%meta(content="https://remino.github.io/scrollerful/share-tw.png" name="twitter:image")/
		%meta(content="@remino" name="twitter:site")/
		%meta(content="@remino" name="twitter:creator")/
		%meta{content: data.site.url, name: "twitter:url"}/
		= stylesheet_link_tag 'style'
	%body.scrollerful
		= yield
		= javascript_include_tag 'script'
