%header.scrollerful__tray
	.scrollerful__plate
		%h1.scrollerful__sprite Scrollerful
.scrollerful__tray
	.scrollerful__plate
		%p.scrollerful__sprite Make your site…
.scrollerful__tray
	.scrollerful__plate
		%p.scrollerful__sprite scroll
.scrollerful__tray
	.scrollerful__plate
		%p.scrollerful__sprite with
.scrollerful__tray
	.scrollerful__plate
		%p.scrollerful__sprite style!
