%header#s1.scrollerful__tray
	.scrollerful__plate
		%h1.scrollerful__sprite Scrollerful
#s2.scrollerful__tray
	.scrollerful__plate
		%p.scrollerful__sprite Make your site…
#s3.scrollerful__tray
	.scrollerful__plate
		%p.scrollerful__sprite scroll
#s4.scrollerful__tray
	.scrollerful__plate
		%p.scrollerful__sprite with
#s5.scrollerful__tray
	.scrollerful__plate
		%p.scrollerful__sprite style!
