@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/InterVariable.woff2') format('woff2');
	font-named-instance: 'Regular';
}

@font-face {
	font-family: 'Iosevka Term';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/IosevkaTerm-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/IosevkaTerm-Regular.woff2') format('woff2');
}

:root {
	--color-bg: #333;
	--color-bg-strong: #111;
	--color-fg: #fff;
	--rainbow-gradient: linear-gradient(
		to right,
		#ff5c5c,
		#aeff5c,
		#5cffff,
		#ae5cff,
		#ff5c5c
	);
	--transition-duration: 0.1s;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background: var(--color-bg);
	color: var(--color-fg);
	font-family:
		InterVariable,
		Inter,
		'Helvetica Neue',
		Helvetica,
		Arial,
		-apple-system,
		system-ui,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		sans-serif;
	line-height: 1.6;
	min-height: 100%;
}

html {
	font-size: clamp(16px, 2.5vw, 32px);
	min-height: 100%;
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.logo > path:nth-child(1) {
	fill: #ff2424;
}
.logo > path:nth-child(2) {
	fill: #ff9b24;
}
.logo > path:nth-child(3) {
	fill: #ebff24;
}
.logo > path:nth-child(4) {
	fill: #73ff24;
}
.logo > path:nth-child(5) {
	fill: #24ff4c;
}
.logo > path:nth-child(6) {
	fill: #24ffc4;
}
.logo > path:nth-child(7) {
	fill: #24c4ff;
}
.logo > path:nth-child(8) {
	fill: #244cff;
}
.logo > path:nth-child(9) {
	fill: #7324ff;
}
.logo > path:nth-child(10) {
	fill: #eb24ff;
}
.logo > path:nth-child(11) {
	fill: #ff249b;
}
