@use 'sass:color'
@use 'sass:math'
@use '../../src/functions' as *
@use '../../src/mixins' as *
@use 'variables' as *
@use 'functions' as *
@use 'mixins' as *

header.scrollerful__tray
	@include lvh(300)

	> .scrollerful__plate
		> h1
			font-size: 6rem
			text-transform: uppercase

			> .logo
				@include lvw(90)
				display: block
				height: auto
				max-width: 80rem

				> path
					$children-count: 11
					--fill-start: var(--color-fg)
					animation-name: logo-char-zoom-in, logo-char-colorize, logo-char-fade-in
					animation-timing-function: ease-in-out, steps(1, end), ease-in-out
					transform-origin: center right

					@for $i from 1 through $children-count
						&:nth-child(#{$i})
							$fill: color.adjust($color-origin, $hue: math.div(($i - 1), $children-count) * 360deg)
							--fill-end: #{light-color($fill)}
							--scrollerful-delay: #{$i * 2s}

							@include dark
								--fill-end: #{$fill}

		> .scroll-down
			@include lv(right, 5, vw)
			animation-name: scroll-down-fade-out
			bottom: 25%
			position: absolute

			> .scroll-down__arrow
				$duration: 4
				$total: 4
				--size: 1rem
				animation: scroll-down-arrow-blink #{$duration * 1s} infinite ease-in-out both
				background: var(--color-fg)
				clip-path: polygon(0% 0%, 100% 0%, 50% 100%)
				margin: var(--size) 0 var(--size) 0
				height: var(--size)
				width: var(--size)

				@for $i from 2 through $total
					&:nth-child(#{$i})
						animation-delay: #{($i - 1) * math.div($duration, ($total * 8)) * 1s}
