@use 'sass:color'
@use 'sass:math'
@use '../../src/functions' as *
@use '../../src/mixins' as *
@use 'variables' as *
@use 'functions' as *
@use 'mixins' as *

body, html
	margin: 0
	padding: 0
	width: 100%

body
	background: var(--color-bg)
	color: var(--color-fg)
	font-family: 'Inter var', 'Helvetica Neue', Helvetica, Arial, sans-serif
	min-height: 100%

html
	font-size: clamp(16px, 2.5vw, 32px)
	min-height: 100%
