@keyframes bg-rotate
	0%, 25%
		filter: invert(0)

	75%, 100%
		filter: invert(1)

@keyframes fade-in-out
	0%
		opacity: 0.5
		transform: scale(0.6)

	25%
		opacity: 1
		transform: scale(1)

	75%
		opacity: 1
		transform: scale(2)

	100%
		opacity: 0.5
		transform: scale(5)

.sclf--enabled
	.sclf__float
		>
			.sclf__sprite,
			.sclf__sprite--inner
				animation-name: bg-rotate
				align-items: center
				background-color: #333
				display: flex
				flex-flow: column
				height: 100%
				justify-content: center
				overflow: hidden
				width: 100%

				>
					h1, .piechart
						&.sclf__sprite,
						&.sclf__sprite--inner
							animation-name: fade-in-out

	.piechart
		$size: 10rem
		background-image: conic-gradient(#fff 0%, #fff calc(var(--progress) * 100%), rgba(100%,100%,100%,0) calc(var(--progress) * 100%), rgba(100%,100%,100%,0) 100%)
		border-radius: 100%
		border: solid 0.2rem #fff
		display: block
		height: $size
		width: $size

	.demo
		&--inner
			.piechart
				--progress: var(--sclf-progress-inner, 0)

		&--outer
			.piechart
				--progress: var(--sclf-progress-outer, 0)

		&--large
			.sclf
				height: 300vh
				height: 300lvh

		&--medium
			.sclf
				height: 100vh
				height: 100lvh

		&--small
			.sclf
				height: 50vh
				height: 50lvh

	.sclf--x
		&.demo
			&--large
				.sclf
					width: 300vw
					width: 300lvw

			&--medium
				.sclf
					width: 100vw
					width: 100lvw

			&--small
				.sclf
					width: 50vw
					width: 50lvw
