%header.scrollerful__tray
	.scrollerful__plate
		.scroll-down.scrollerful__sprite
			- (1..4).each do |i|
				.scroll-down__arrow
		%h1.scrollerful__sprite
			= partial 'logo'
%section.scrollerful__tray
	.scrollerful__plate
		%h2
			%span.scrollerful__sprite--inner Scroll
			%span.scrollerful__sprite--inner with
			%span.scrollerful__sprite--inner
				%strong.scrollerful__sprite style!
		%p
			%strong.scrollerful__sprite--inner Yeah!
%nav.scrollerful__tray
	.scrollerful__plate
		.scrollerful__sprite
			%a(href="https://github.com/remino/scrollerful")
				%span.caption Get it now!
				%span.bg
