.controls {
	align-items: stretch;
	backdrop-filter: blur(0.4rem);
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0.5em;
	display: block;
	font-size: max(14px, 0.4rem);
	inset: auto 1.8em calc(var(--rmn-ribbon-push, 0) + 0.9em) auto;
	justify-content: center;
	margin: 0;
	opacity: 1;
	padding: 0.6em;
	position: fixed;
	z-index: 100;
}
.js .controls {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;
}
.js .controls.controls--visible {
	opacity: 1;
	pointer-events: auto;
}
.controls summary {
	cursor: pointer;
	font-weight: 700;
	padding: 0.3em;
	text-transform: uppercase;
}
.controls form {
	display: flex;
	flex-flow: column;
}
.controls fieldset {
	align-items: stretch;
	border: none;
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 0.6em 0 0 0;
	padding: 0.6em;

	/*
		For macOS Safari 26 being ridiculously stubborn at adding bottom spacing to
		<label> after toggling settings.
	*/
	max-height: max-content;
}
.controls fieldset label {
	flex: 1;
}
.controls fieldset label:first-of-type span {
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
.controls fieldset label:last-of-type span {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
.controls fieldset label:not(:first-of-type) input[type='radio'] + span {
	border-left: 0;
}
.controls fieldset legend {
	text-align: left;
	text-transform: uppercase;
	width: 100%;
}
.controls fieldset input[type='radio'] {
	appearance: none;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
.controls fieldset input[type='radio']:checked + span {
	background: #fff;
	color: #000;
}
.controls fieldset input[type='radio']:focus:checked + span {
	background: #ccc;
	color: #000;
}
.controls fieldset input[type='radio']:focus + span {
	background: #666;
	color: #fff;
}
.controls fieldset input[type='radio'] + span {
	background: #000;
	border: solid 0.1em #fff;
	color: #fff;
	cursor: pointer;
	display: block;
	padding: 0.4em 0.6em;
	text-align: center;
}
.controls fieldset input[type='radio'] + span:active {
	background: #666;
	color: #fff;
}
.controls fieldset input[type='radio'] + span:hover {
	background: #333;
	color: #fff;
}
.controls nav {
	align-self: center;
	flex-grow: 0;
	flex-shrink: 1;
}
.controls nav a {
	align-self: center;
	color: inherit;
	display: flex;
	gap: 0.6em;
	flex-flow: column;
	justify-content: center;
	padding: 0.6em 0;
	text-decoration: none;
	width: 100%;
}
.controls nav a span {
	text-align: center;
	text-transform: uppercase;
	display: block;
}
.controls .logo {
	display: block;
	filter: drop-shadow(0.1em 0.1em #000);
	margin: 0 auto;
	width: 13em;
}
