.site--ready .sclf,
.site--ready .sclf__float {
	transition: 0.6s ease-in-out;
	transition-property: height, width;
}

.sclf--enabled .sclf .bg {
	align-items: center;
	animation-name: bg-rotate;
	background-color: #333;
	display: flex;
	flex-flow: column;
	height: 100%;
	inset: 0;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.sclf--enabled .demo--contain .item--piechart {
	--progress: var(--sclf-contain, 0);
}
.sclf--enabled .demo--cover .item--piechart {
	--progress: var(--sclf-cover, 0);
}
body {
	--container-size: 300;
}
.sclf--enabled .demo--vertical .sclf {
	height: calc(var(--container-size) * 1vh);
	height: calc(var(--container-size) * 1lvh);
}
.sclf--enabled .demo--horizontal .sclf {
	width: calc(var(--container-size) * 1vw);
	width: calc(var(--container-size) * 1lvw);
}
.sclf--enabled .demo--horizontal .prose {
	width: min(100%, calc(var(--container-size) * 1vw));
	width: min(100%, calc(var(--container-size) * 1lvw));
}
.sclf--enabled .section--percentage {
	--color-1: #b2456e;
	--color-2: #fbeae7;
	--color-3: #552619;
	--bg-rotate-from: var(--color-1);
	--bg-rotate-mid: var(--color-2);
	--bg-rotate-to: var(--color-3);
	--color-rotate-from: var(--color-2);
	--color-rotate-mid: var(--color-3);
	--color-rotate-to: var(--color-1);
}
.sclf--enabled .section--percentage .item--percentage {
	animation-name: color-rotate, grow;
}
.sclf--enabled .section--piechart {
	--color-1: #678cec;
	--color-2: #d49bae;
	--color-3: #bbcb50;
	--bg-rotate-from: #374977;
	--bg-rotate-mid: #5a5e44;
	--bg-rotate-to: #5e454d;
	--piechart-border-from: var(--color-1);
	--piechart-border-to: var(--color-3);
}
.sclf--enabled .section--piechart .item--piechart {
	animation-name: grow, piechart;
	background-image: conic-gradient(
		var(--color-2),
		var(--color-1),
		var(--color-3) calc(var(--progress) * 100%),
		rgba(255, 255, 255, 0) calc(var(--progress) * 100%),
		rgba(255, 255, 255, 0) 100%
	);
	border-radius: 100%;
	border: solid 0.2rem var(--piechart-border-from, #000);
	display: block;
	height: 8rem;
	width: 8rem;
}
.sclf--enabled .section--scroll-scroll {
	--ss-1: color-mix(
		in oklab,
		hsl(122deg, 100%, 50%) 0%,
		hsl(238deg, 100%, 50%)
	);
	--ss-2: color-mix(
		in oklab,
		hsl(122deg, 100%, 50%) 20%,
		hsl(238deg, 100%, 50%)
	);
	--ss-3: color-mix(
		in oklab,
		hsl(122deg, 100%, 50%) 40%,
		hsl(238deg, 100%, 50%)
	);
	--ss-4: color-mix(
		in oklab,
		hsl(122deg, 100%, 50%) 60%,
		hsl(238deg, 100%, 50%)
	);
	--ss-5: color-mix(
		in oklab,
		hsl(122deg, 100%, 50%) 80%,
		hsl(238deg, 100%, 50%)
	);
	--ss-6: color-mix(
		in oklab,
		hsl(122deg, 100%, 50%) 100%,
		hsl(238deg, 100%, 50%)
	);
}
.sclf--enabled .section--scroll-scroll .item--scroll-scroll {
	--sclf-delay: 25;
	--sclf-duration: 50;
	animation-name: grow, scroll-scroll;
	font-size: 2rem;
}
.sclf--enabled .section--video {
	--bg-rotate-from: #91278a;
	--bg-rotate-mid: #000;
	--bg-rotate-to: #0f9d8c;
}

.section--video video {
	aspect-ratio: 16/9;
	max-height: 100%;
	width: 75%;
}
