@use 'variables' as *
@use 'functions' as *
@use 'mixins' as *

:root
	--#{$prefix}-delay: 0s

@media screen
	.#{$prefix}--enabled
		.#{$prefix}--snap,
		&.#{$prefix}--snap,
		&.#{$prefix}--snap body
			@include supports-scroll-snap-stop
				scroll-snap-stop: always
				scroll-snap-type: y proximity

		.#{$prefix}--snap,
		&.#{$prefix}--snap
			overflow-y: auto

			.#{$prefix}
				@include supports-scroll-snap-stop
					scroll-snap-align: start end

		.#{$prefix}--x.#{$prefix}--snap,
		&.#{$prefix}--snap:has(.#{$prefix}--x),
		&.#{$prefix}--snap .#{$prefix}--x
			@include supports-scroll-snap-stop
				scroll-snap-type: x proximity

@include scrollerful-enabled
	&--snap
		height: 100%

	&--x
		display: flex
		flex-flow: row nowrap

		&.#{$prefix}--snap
			overflow-x: auto
			overflow-y: hidden

		.#{$prefix}
			&__float
				@include lvw(100)
				@include svh(100)
				left: 0
				max-height: none
				max-width: 100%
				top: auto

			&
				@include lvw(300)
				flex-shrink: 0
				height: auto

				&--padding
					@include lvw(100)
					height: auto

	&__ruler
		@include lvh(100)
		@include lvw(100)
		background: none transparent
		border: none
		bottom: 0
		display: block
		left: -200%
		pointer-events: none
		position: absolute
		top: 0
		user-select: none
		z-index: -10

	&__float
		@include lvh(100)
		align-items: center
		display: flex
		flex-flow: column
		justify-content: center
		max-height: 100%
		overflow: hidden
		position: sticky
		top: 0

	&__sprite
		&, &--inner, &--outer
			animation-duration: calc(var(--sclf-duration, 100) * 1s)
			animation-fill-mode: both
			animation-play-state: paused
			animation-timing-function: linear

		&, &--inner
			animation-delay: calc(var(--#{$prefix}-progress-inner, 0) * -100s + var(--#{$prefix}-delay, 0))

		&, &--outer
			animation-delay: calc(var(--#{$prefix}-progress-outer, 0) * -100s + var(--#{$prefix}-delay, 0))

	&
		@include lvh(300)
		position: relative

		&--padding
			@include lvh(100)

	// @supports (animation-timeline: scroll())
	// 	&__sprite
	// 		&, &--inner, &--outer
	// 			animation-delay: 0
	// 			animation-play-state: running
	// 			animation-timeline: scroll()
