$script-name: scrollerful

\:root
	--#{$script-name}-delay: 0s

.#{$script-name}
	min-height: 100%

	&--snap, &__snap-page, &__snap-page body
		scroll-snap-stop: always
		scroll-snap-type: y proximity

	&--snap, &__snap-page
		overflow-y: auto

		.#{$script-name}__tray
			scroll-snap-align: start end

	&--snap
		height: 100%

	&__ruler
		background: none transparent
		border: none
		bottom: 0
		display: block
		height: 100lvh
		left: -200%
		pointer-events: none
		position: absolute
		top: 0
		user-select: none
		width: 1rem
		z-index: -10

	&__plate
		align-items: center
		display: flex
		flex-flow: column
		height: 100lvh
		justify-content: center
		max-height: 100%
		overflow: hidden
		position: sticky
		top: 0

	&__sprite
		&, &--inner, &--outer
			animation-duration: 100s
			animation-fill-mode: both
			animation-play-state: paused
			animation-timing-function: linear

		&, &--inner
			animation-delay: calc(var(--#{$script-name}-progress-inner, 0) * -100s + var(--#{$script-name}-delay, 0))

		&, &--outer
			animation-delay: calc(var(--#{$script-name}-progress-outer, 0) * -100s + var(--#{$script-name}-delay, 0))

	&__tray
		height: 300lvh
		position: relative

		&--padding
			height: 100lvh
