@use 'variables' as *
@use 'functions' as *
@use 'mixins' as *

:root
	--#{$script-name}-delay: 0s

@media screen
	.#{$script-name}--enabled
		.#{$script-name}--snap,
		&.#{$script-name}--snap--page,
		&.#{$script-name}--snap--page body
			@include supports-scroll-snap-stop
				scroll-snap-stop: always
				scroll-snap-type: y proximity

		.#{$script-name}--snap,
		&.#{$script-name}--snap--page
			overflow-y: auto

			.#{$script-name}__tray
				@include supports-scroll-snap-stop
					scroll-snap-align: start end

@include scrollerful-enabled
	min-height: 100%
	min-height: 100vh
	min-height: 100svh

	&--snap
		height: 100%

	&--x
		display: flex
		flex-flow: row nowrap

		&.#{$script-name}--snap
			overflow-x: auto
			overflow-y: hidden

			@include supports-scroll-snap-stop
				scroll-snap-type: x proximity

		.#{$script_name}
			&__plate
				@include lvw(100)
				@include svh(100)
				left: 0
				max-height: none
				max-width: 100%
				top: auto

			&__tray
				@include lvw(300)
				flex-shrink: 0
				height: auto

				&--padding
					@include lvw(100)
					height: auto

	&__ruler
		@include lvh(100)
		@include lvw(100)
		background: none transparent
		border: none
		bottom: 0
		display: block
		left: -200%
		pointer-events: none
		position: absolute
		top: 0
		user-select: none
		z-index: -10

	&__plate
		@include lvh(100)
		align-items: center
		display: flex
		flex-flow: column
		justify-content: center
		max-height: 100%
		overflow: hidden
		position: sticky
		top: 0

	&__sprite
		&, &--inner, &--outer
			animation-duration: 100s
			animation-fill-mode: both
			animation-play-state: paused
			animation-timing-function: linear

		&, &--inner
			animation-delay: calc(var(--#{$script-name}-progress-inner, 0) * -100s + var(--#{$script-name}-delay, 0))

		&, &--outer
			animation-delay: calc(var(--#{$script-name}-progress-outer, 0) * -100s + var(--#{$script-name}-delay, 0))

	&__tray
		@include lvh(300)
		position: relative

		&--padding
			@include lvh(100)
